#clock {
  border: solid 2px whitesmoke;
  font-size: 10vw;
  text-align: center;
  box-sizing: border-box;
}

.container {
  display: flex;
  width: 90%;
  max-width: 1200px;
  margin: auto;
  justify-content: center;
  align-items: center;
  margin-top: 17%;
}

body {
  background-color: black;
  color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

@media (max-width: 480px) {
  #clock {
    font-size: 5vw;
  }
}
